@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply overflow-x-hidden;
}

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}

::selection {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

::-moz-selection {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.gl-1 {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.text-gradient {
    @apply bg-gradient-to-r from-[#e2e2e2] to-[#8c8c8c] bg-clip-text text-transparent;
}